@font-face {
    font-family: BNazanin;
    src: url("assets/fonts/B\ Nazanin_YasDL.com.ttf");
}

@font-face {
    font-family: Vazir;
    src: url("assets/fonts/vazir-font-v16.1.0/Vazir.ttf");
}

body{
    direction: rtl;
}

.hero-unit{
    background-image: linear-gradient(#198754, #0d6efd);
}

/* .card{
    display: none;
    transition: all 1s ease;
} */

/* navbar styles */
.hero-unit nav{
    background-color: rgba(0, 0, 0, 0);
}

.nav-sticky{
    position: fixed;
    position: fixed;  
    top: 0;  
    left: 0;  
    right: 0;
    z-index: 1000;  
    background-image: linear-gradient(#198754, #0d6efd);
}

.brand-name{
    color: aliceblue;
    margin-bottom: auto;
    margin-right: 3vw;
}

.nav-link{
    color: aliceblue;
}

.cart{
    color:rgb(19, 84, 141);
}

.btn-group{
    direction: ltr;
}



.title{
    font-size: 4rem;
    font-weight: bolder;
}

.sub-title{
    font-size: 2rem;
}

@media screen and (max-width: 768px){
    .title{
        font-size: 3rem;
    }
    .sub-title{
        font-size: 2rem;
    }

    .sort{
        margin-left: 10px;
    }

    #navbarSupportedContent{
        border-radius: 10px;
        background-color: rgb(6, 112, 6);
    }

    nav{
        background-color: #0056b3;
    }
}

.inner-link{
    display: flex;
}



.search-input{
    height: 7vh;
    margin-top: 5vh;
    margin-bottom: 5vh;

}

input{
    padding: 2vw;
    font-size: 2rem;
}

/* back to up button */
#backToTop {  
    position: fixed;  
    bottom: 30px;  
    right: 30px;  
    display: none; /* در ابتدا پنهان است */  
    background-color: #007bff;  
    color: white;  
    border: none;  
    border-radius: 5px;  
    padding: 10px 15px;  
    cursor: pointer;  
}  
#backToTop:hover {  
    background-color: #0056b3;  
}  

/* new Products */
.products-section{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.big-news{
    display: flex;
    justify-content: start;
    width: 80rem;
    height: 25rem;
    overflow: hidden;
}

.right-new-product, .left-new-product{
    display: flex;
    padding: 2vw;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.new-product{
    display: flex;
    justify-content: center;
    margin-right: 0px;
    transition: margin 1s ease;
}
.new-product .card{
    margin: 0 1rem;
}

/* all products */


.image-content{
    position: relative;
    overflow: hidden;
    height: 45%;
}

.image-content img{
    height: 100%;
}
.image-content .card-label{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #0d6efd;
    color: white;
    padding: 2px 10px 5px 10px;
    border-radius: 0 5px 0 50%;
}


.image-content .off-label{
    position: absolute;
    left: -2.8rem;
    top: 1vh;
    background-color: red;
    color: white;
    padding: 2px 15px 2px 5px;
    font-size: 0.9rem;
    border: 1px solid black;
    border-radius: 0 50% 50% 0;
    transition: left 0.5s ease;
    
}

.product-card:hover .off-label{
    left: 0;
}

.price{
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.all-product .add-basket{
    padding: 5px 5px 7px 5px;
}

.all-product .card-title{
    height: 15%;
}

.all-product .card-text{
    height: 50%;
}

.filter-sort{
    direction: rtl;
}

.sort{
    margin-left: -2vw;
}

.all-product .card{
    background-color: rgba(25, 135, 84, 0.1);
}

/* News */
.news-section{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.big-news{
    display: flex;
    justify-content: start;
    width: 80rem;
    height: 25rem;
    overflow: hidden;
}

.right-news, .left-news{
    display: flex;
    padding: 2vw;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.news{
    display: flex;
    justify-content: start;
    margin-right: 0px;
    transition: margin 1s ease;
}
.news .card{
    margin: 0 1rem;
}

.news-title{
    margin-top: 10rem;
}

.news-section .big-news{
    display: flex;
    justify-content: start;
    width: 78rem;
    height: 12rem;
    overflow: hidden;
}

.news .card{
    width: 24rem;
}
.news a{
    color: #444;
}

/* articles */
.articles-section{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.right-articles, .left-articles{
    display: flex;
    padding: 2vw;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.articles{
    display: flex;
    justify-content: center;
    margin-right: 0px;
    transition: margin 1s ease;
}

.articles-section .big-news{
    height: 20rem;
}

.articles .card{
    margin: 0 1rem;
    overflow: hidden;
    transition: all 1s;
}

.articles .card:hover{
    margin: 0 2rem;
}

.articles .image-content{
    height: 55%;
}

.date{
    font-size: 0.8rem;
    color: #aaa;
    margin-bottom: 2px;
    margin-top: 0;
}

.articles .card-body{
    position: relative;
}

.more{
    position: absolute;
    bottom: 0;
    background-color: #198754;
    width: 100%;
    height: 30%;
    right: 0;
    color: white;
    text-align: center;
    cursor: pointer;
}

.more h5{
    position: absolute;
    top: 20%;
    left: 40%;
}

.articles a{
    color: #eee;
}

/* video section */
.video-section{
    margin: 10rem auto;
}

.video{
    background-color: #eee;
    overflow: hidden;
}

.list-video{
    background-color: #30b1a0;
    /* border: 2px solid #eee; */
    padding: 0;
}

.text-video{
    font-size: large;
    font-weight: bold;
}

.list-video div{
    cursor: pointer;
}

.list-video a{
    text-decoration: none;
    color: #111418;
}

video{
    height: 100%;
}

.div-video{
    height: 70%;
}

/* questions */
.questions{
    margin-top: 20rem;
}

/* emailing */
.emailing-section{
    margin-top: 10rem;
    border: 2px solid rgb(128, 55, 7);
    border-radius: 20px;
    background-color: rgb(247, 158, 2);
}

/* footer */
.footer{
    background-image: linear-gradient(#0d6efd, #198754);
    width: 100%;
    margin-top: 7rem;
    padding: 5rem 2rem 5rem 5rem;
}
.footer li{
    list-style-type: none;
    transition: all 1s ease;
}

.footer a{
    font-size: large;
    text-decoration: none;
    color: #222;
}

.good-links{
    text-align: center;
}

.internal-links{
    text-align: center;
}
.internal-links li{
    margin: auto 0.6rem;
    padding: 3px;
}
.footer li:hover{
    border: 1px solid black;
    border-radius: 10px;
    
}

.follow-us li{
    margin: auto 1.5rem;
}

.follow-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.namads img{
    width: 9rem;
}

a{
    text-decoration: none;
}

.footer-color, .footer-color a{
    color: white;
}


@media screen and (max-width: 1200px){
    .none-small{
        display: none;
    }

    .inner-link{
        display: block;
    }

    
}

li ul{
    text-align: end;
}



