.product-body{
    margin-top: 10rem;
    text-align: end ;
}

.product-video{
    margin-bottom: 5rem;
}

.will-learn h2{
    margin: 2rem 1rem;
}

.will-learn{
    border: 2px solid #198754;
    background-color: rgba(25, 135, 84, 0.2);
    padding: 2rem 2rem;
    border-radius: 10px;
}

.add-one-product{
    margin: 1rem 0;
    font-size: 1.5rem;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 15px;
}

video{
    padding: 0 0;
    background-color: black;
    overflow: hidden;
    border: 2px solid black;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

}
.video-properties td{
    padding: 1rem 1rem;
}

.video-properties{
    border: 2px solid rgb(13, 110, 253);
    border-radius: 10px;
    background-color: rgba(13, 110, 253, 0.3);
}


.price{
    text-align: start;
}

.suggestion{
    padding: 1rem;
    background-color: rgba(247, 158, 2, 0.3);
    border-radius: 10px;
    border: 2px solid rgb(247, 158, 2);
}

.suggestion input{
    border: 1px solid rgb(247, 158, 2);
}

#suggestion{
    border: 1px solid rgb(247, 158, 2);
    border-radius: 10px;
}

.suggestion button{
    background-color: rgb(248, 165, 21);
    border: 1px solid rgb(230, 140, 0);
}

.suggestion button:hover{
    background-color: rgb(230, 140, 0);
}

.tags{
    border-radius: 10px;
}
.tags button{
    margin: 0 0.7rem;
}

.add-comment{
    width: 60%;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    direction: ltr;
}

.comments{
    width: 70%;
}

@media screen and (max-width: 992px) {
    .add-comment, .comments, .comment{
        width: 100%;
    }
}

.comment{
    width: 60%;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.comment-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 2rem 1rem;
    border-bottom: 1px solid rgb(218, 215, 215);
}

.img-comment{
    width: 3rem;
    height: 3rem;
    border: 1px solid gray;
    border-radius: 50% 50%;
    overflow: hidden;
}

.img-comment img{
    width: 3rem;
    height: 3rem;
}

.comment-body{
    position: relative;
    padding: 1rem;
}

.reply{
    color: #777;
    bottom: 5px;
    left: 5px;
    border: 1px solid gray;
}

.two-layer-comment .comment-body{
    border-bottom: 1px solid #ccc;
}

.layer-two{
    width: 100%;
}

